{{#if cookies}}
	<div class="form-control">
		<label for="">Sort:</label>
		<select name="" id="sort-cookie">
			<option value="By like" selected></option>
		<option value="By like">By Like</option>
		<option value="By Date">By Date</option>
	</select>	
	</div>

	{{#each cookies}}
		<div>
			<p><strong>Text:</strong> {{this.text}}</p>
			<strong> Category: </strong> <a href="#/home?category={{this.category}}" class="btn btn-success">{{this.category}}</a>
			<p>Likes: {{this.likes}}
				<a href="#/home/{{this.likes}}" class="like btn btn-success" data-id="{{this.id}}" >+</a>
			</p>
			<p>Dislike: {{this.dislikes}}
				<a href="#/home/{{this.dislikes}}" class="dilikes btn btn-success"  data-id="{{this.id}}">-</a>
			</p>
			<img src="{{this.img}}" alt=""/>
		</div>
	{{/each}}
{{else}}
<h1>No Cookies</h1>
{{/if}}